<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item"><a class="active" href="/">Users</a></li>
            <li class="main-header_item"><a href="/admin/add-users">Add Users</a></li>
        </ul>
    </nav>
</header>