<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/users.css" />
</head>

<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/">Display</a></li>
                <li class="main-header_item"><a class="active" href="/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action='/display' method="POST">
            <div class="form-control">
                <label for="name"> Name</label>
                <input type="text" name="userName" id="userName" />
            </div>
            <button type="submit">Add User</button>
        </form>
    </main>
</body>
</html>